<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EnelDemoSuite">
  <parameter name="uRL" value="https://test.salesforce.com"/>
  <parameter name="uName" value="karan.k.kansagra@accenture.com.fsdfdev"/>
  <parameter name="password" value="salesforce1"/>
  <parameter name="dealerName" value="Honda"/>
  <parameter name="pin" value="781020"/>
  <test name="UpdateDealer">
  <classes>
  <class name="Enel.ADOPdemo.createDealerInSalesCloud"/>
  </classes>
  </test> <!-- UpdateDealer -->
</suite> <!-- EnelDemoSuite -->
